<div class="search-container">
  <input class="control search" placeholder="Type to search" [(ngModel)]="searchCourse" (blur)="search()" />
  <button class="btn btn-lg btn-green search-btn" (click)="search()">
    <span class="material-symbols-outlined"> search </span>
    Search
  </button>
</div>
<div class="add-course-container">
  <button (click)="loadMore()" class="btn btn-lg btn-blue add-course-btn">
    <span class="material-symbols-outlined"> add </span>
    Add course
  </button>
</div>
<div *ngFor="let course of courses | orderBy; trackBy: trackBy ">
  <app-course [course]="course" (deleteCourse)="onDeleteCourse($event)"></app-course>
</div>
<div class="no-data-container" *ngIf="!courses || !courses.length">
  <p> No data. Feel free to add new courses.</p>
</div>
<div *ngIf="courses && courses.length" class="load-more-container">
  <button class="load-more-btn" (click)="loadMore()">Load more</button>
</div>
