<div class="course">
  <div class="course-header">
    <h2 class="course-header__title" [ngClass]="{'top-rated' : course.isTopRated}">
      {{ course.title | uppercase }}
      <span *ngIf="course.isTopRated" class="material-symbols-outlined top-rated"> star </span>
    </h2>
    <div class="course-header__datetime-wrapper">
      <span *ngIf="course.duration" class="course-header__datetime">
        <span class="material-symbols-outlined"> schedule </span>
        {{course.duration | duration}}
      </span>
      <span [appCreationDate]="course.creationDate" class="course-header__datetime">
        <span class="material-symbols-outlined"> calendar_month </span>
        {{ course.creationDate | date:'dd MMM yyyy'}}
      </span>
    </div>
  </div>
  <div class="course-container">
    <p class="course-description">
      {{ course.description }}
    </p>
    <div class="course-buttons">
      <button class="btn btn-md btn-blue btn-edit">
        <span class="material-symbols-outlined edit-icon"> edit </span>
        Edit
      </button>
      <button class="btn btn-md btn-blue btn-delete" (click)="delete()">
        <span class="material-symbols-outlined delete-icon"> delete </span>
        Delete
      </button>
    </div>
  </div>
</div>
