.course {
  display: flex;
  min-height: 140px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(29,30,38,0.1), 0 2px 10px 0 rgba(29,30,38,0.15);

  &-description {
    margin-top: 8px;
    margin-right: 40px;
    color: #474a59;
    font-size: 14px;
    line-height: 1;
  }

  &-header {
    display: flex;
    align-items: center;

    &__title {
      margin-right: auto;
      color: #333;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }

    &__datetime {
      color: #000;
      color: #858997;
      font-size: 14px;
      line-height: 18px;

      &-wrapper {
        display: flex;
        align-items: flex-start;
      }

      span {
        font-size: inherit;
      }

      &:last-child {
        margin-left: 26px;
      }
    }
  }

  &-container{
    display: flex;
    align-items: flex-start;
  }
}

.btn-edit {
  min-width: 60px;
}

.btn-delete {
  min-width: 72px;
  margin-left: 12px;
}

.edit-icon, .delete-icon {
  margin-right: 10px;
}
